In [1]:
import pandas as pd

import numpy as np

In [2]:
# Load the dataset into a DataFrame
ad = pd.read_csv("actual_duration.csv")
ad

,sub_icb_location_code,sub_icb_location_ons_code,sub_icb_location_name,icb_ons_code,region_ons_code,appointment_date,actual_duration,count_of_appointments
0,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,31-60 Minutes,364
1,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,21-30 Minutes,619
2,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,6-10 Minutes,1698
3,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,Unknown / Data Quality,1277
4,00L,E38000130,NHS North East and North Cumbria ICB - 00L,E54000050,E40000012,01-Dec-21,16-20 Minutes,730
...,...,...,...,...,...,...,...,...
137788,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,31-60 Minutes,430
137789,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,21-30 Minutes,751
137790,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,16-20 Minutes,921
137791,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,11-15 Minutes,1439
137792,X2C4Y,E38000254,NHS West Yorkshire ICB - X2C4Y,E54000054,E40000012,30-Jun-22,1-5 Minutes,1739

In [3]:
# Load the dataset into a DataFrame
ar = pd.read_csv("appointments_regional.csv")
ar

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
0,E54000034,2020-01,Attended,GP,Face-to-Face,1 Day,8107
1,E54000034,2020-01,Attended,GP,Face-to-Face,15 to 21 Days,6791
2,E54000034,2020-01,Attended,GP,Face-to-Face,2 to 7 Days,20686
3,E54000034,2020-01,Attended,GP,Face-to-Face,22 to 28 Days,4268
4,E54000034,2020-01,Attended,GP,Face-to-Face,8 to 14 Days,11971
...,...,...,...,...,...,...,...
596816,E54000050,2022-06,Unknown,Unknown,Unknown,2 to 7 Days,21
596817,E54000050,2022-06,Unknown,Unknown,Unknown,22 to 28 Days,8
596818,E54000050,2022-06,Unknown,Unknown,Unknown,8 to 14 Days,28
596819,E54000050,2022-06,Unknown,Unknown,Unknown,More than 28 Days,17
596820,E54000050,2022-06,Unknown,Unknown,Unknown,Same Day,10

In [32]:
# Load the dataset into a DataFrame
nc = pd.read_excel("national_categories.xlsx")
nc

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08
...,...,...,...,...,...,...,...,...
817389,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Unplanned Clinical Activity,12,2022-06
817390,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Planned Clinics,4,2022-06
817391,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,Planned Clinical Procedure,92,2022-06
817392,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,General Consultation Routine,4,2022-06
817393,2022-06-30,E54000054,NHS West Yorkshire ICB - X2C4Y,Extended Access Provision,Care Related Encounter,General Consultation Acute,19,2022-06

In [5]:
# Read CSV file from the current working directory.
ad = pd.read_csv('actual_duration.csv')

# Column names of data set.
my_list_1 = ad.columns.values.tolist()

my_list_1

['sub_icb_location_code',
 'sub_icb_location_ons_code',
 'sub_icb_location_name',
 'icb_ons_code',
 'region_ons_code',
 'appointment_date',
 'actual_duration',
 'count_of_appointments']

In [6]:
# Read CSV file from the current working directory.
ar = pd.read_csv('appointments_regional.csv')

# Column names of data set.
my_list_2 = ar.columns.values.tolist()

my_list_2

['icb_ons_code',
 'appointment_month',
 'appointment_status',
 'hcp_type',
 'appointment_mode',
 'time_between_book_and_appointment',
 'count_of_appointments']

In [7]:
# Read CSV file from the current working directory.
nc = pd.read_excel('national_categories.xlsx')

# Column names of data set.
my_list_3 = nc.columns.values.tolist()

my_list_3

['appointment_date',
 'icb_ons_code',
 'sub_icb_location_name',
 'service_setting',
 'context_type',
 'national_category',
 'count_of_appointments',
 'appointment_month']

In [8]:
# Shape of data frame.
print(ad.shape)

print(ar.shape)

print(nc.shape)

(137793, 8)
(596821, 7)
(817394, 8)

In [9]:
# Data types of the dataset
print(ad.dtypes)

sub_icb_location_code        object
sub_icb_location_ons_code    object
sub_icb_location_name        object
icb_ons_code                 object
region_ons_code              object
appointment_date             object
actual_duration              object
count_of_appointments         int64
dtype: object

In [10]:
# Data types of the dataset
print(ar.dtypes)

icb_ons_code                         object
appointment_month                    object
appointment_status                   object
hcp_type                             object
appointment_mode                     object
time_between_book_and_appointment    object
count_of_appointments                 int64
dtype: object

In [11]:
# Data types of the dataset
print(nc.dtypes)

appointment_date         datetime64[ns]
icb_ons_code                     object
sub_icb_location_name            object
service_setting                  object
context_type                     object
national_category                object
count_of_appointments             int64
appointment_month                object
dtype: object

In [12]:
# The number of missing values
ad_na = [ad.isna().any(axis=1)]
ad_na

[0         False
 1         False
 2         False
 3         False
 4         False
           ...
 137788    False
 137789    False
 137790    False
 137791    False
 137792    False
 Length: 137793, dtype: bool]

In [13]:
# The number of missing values
ar_na = [ar.isna().any(axis=1)]
ar_na

[0         False
 1         False
 2         False
 3         False
 4         False
           ...
 596816    False
 596817    False
 596818    False
 596819    False
 596820    False
 Length: 596821, dtype: bool]

In [14]:
# The number of missing values
nc_na = [nc.isna().any(axis=1)]
nc_na

[0         False
 1         False
 2         False
 3         False
 4         False
           ...
 817389    False
 817390    False
 817391    False
 817392    False
 817393    False
 Length: 817394, dtype: bool]

In [15]:
# The sum of missing values of each column in a dataset
ad['sub_icb_location_code'].isnull().sum()
ad['sub_icb_location_ons_code'].isnull().sum()
ad['sub_icb_location_name'].isnull().sum()
ad['icb_ons_code'].isnull().sum()
ad['region_ons_code'].isnull().sum()
ad['appointment_date'].isnull().sum()
ad['actual_duration'].isnull().sum()
ad['count_of_appointments'].isnull().sum()

0

In [16]:
# The sum of missing values of each column in a dataset
ar['icb_ons_code'].isnull().sum()
ar['appointment_month'].isnull().sum()
ar['appointment_status'].isnull().sum()
ar['hcp_type'].isnull().sum()
ar['appointment_mode'].isnull().sum()
ar['time_between_book_and_appointment'].isnull().sum()
ar['count_of_appointments'].isnull().sum()

0

In [17]:
# The sum of missing values of each column in a dataset
nc['appointment_date'].isnull().sum()
nc['icb_ons_code'].isnull().sum()
nc['sub_icb_location_name'].isnull().sum()
nc['service_setting'].isnull().sum()
nc['context_type'].isnull().sum()
nc['national_category'].isnull().sum()
nc['count_of_appointments'].isnull().sum()
nc['appointment_month'].isnull().sum()

0

In [19]:
# The descriptive statistics of each DataFrame
ad.describe()

       count_of_appointments
count          137793.000000
mean             1219.080011
std              1546.902956
min                 1.000000
25%               194.000000
50%               696.000000
75%              1621.000000
max             15400.000000

In [20]:
# The descriptive statistics of each DataFrame
ar.describe()

       count_of_appointments
count          596821.000000
mean             1244.601857
std              5856.887042
min                 1.000000
25%                 7.000000
50%                47.000000
75%               308.000000
max            211265.000000

In [21]:
# The descriptive statistics of each DataFrame
nc.describe()

       count_of_appointments
count          817394.000000
mean              362.183684
std              1084.576600
min                 1.000000
25%                 7.000000
50%                25.000000
75%               128.000000
max             16590.000000

In [22]:
# The metadata of each DataFrame
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137793 entries, 0 to 137792
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sub_icb_location_code      137793 non-null  object
 1   sub_icb_location_ons_code  137793 non-null  object
 2   sub_icb_location_name      137793 non-null  object
 3   icb_ons_code               137793 non-null  object
 4   region_ons_code            137793 non-null  object
 5   appointment_date           137793 non-null  object
 6   actual_duration            137793 non-null  object
 7   count_of_appointments      137793 non-null  int64
dtypes: int64(1), object(7)
memory usage: 8.4+ MB

In [23]:
# The metadata of each DataFrame
ar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596821 entries, 0 to 596820
Data columns (total 7 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   icb_ons_code                       596821 non-null  object
 1   appointment_month                  596821 non-null  object
 2   appointment_status                 596821 non-null  object
 3   hcp_type                           596821 non-null  object
 4   appointment_mode                   596821 non-null  object
 5   time_between_book_and_appointment  596821 non-null  object
 6   count_of_appointments              596821 non-null  int64
dtypes: int64(1), object(6)
memory usage: 31.9+ MB

In [24]:
# The metadata of each DataFrame
nc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817394 entries, 0 to 817393
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   appointment_date       817394 non-null  datetime64[ns]
 1   icb_ons_code           817394 non-null  object
 2   sub_icb_location_name  817394 non-null  object
 3   service_setting        817394 non-null  object
 4   context_type           817394 non-null  object
 5   national_category      817394 non-null  object
 6   count_of_appointments  817394 non-null  int64
 7   appointment_month      817394 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 49.9+ MB

In [28]:
# The number of locations in a dataset
ad['sub_icb_location_ons_code'].value_counts()

E38000239    1484
E38000237    1484
E38000256    1484
E38000249    1484
E38000217    1484
             ...
E38000053    1051
E38000141    1028
E38000176    1025
E38000006    1022
E38000068    1013
Name: sub_icb_location_ons_code, Length: 106, dtype: int64

In [31]:
# The number of locations in a dataset
ar['icb_ons_code'].value_counts()

E54000057    54527
E54000008    48253
E54000050    43774
E54000048    36360
E54000051    31069
E54000010    27401
E54000054    26960
E54000061    23466
E54000026    22342
E54000044    19806
E54000053    18510
E54000025    16809
E54000023    16326
E54000015    15587
E54000042    12057
E54000060     9608
E54000055     8206
E54000029     7700
E54000032     7615
E54000062     7561
E54000030     7462
E54000037     7453
E54000031     7324
E54000027     7299
E54000056     7178
E54000039     6993
E54000052     6921
E54000058     6875
E54000038     6813
E54000036     6714
E54000043     6707
E54000022     6582
E54000028     6579
E54000018     6303
E54000013     6061
E54000019     6013
E54000011     5996
E54000034     5768
E54000059     5759
E54000024     5467
E54000041     5345
E54000040     5272
Name: icb_ons_code, dtype: int64

In [33]:
# The number of locations in a dataset
nc['icb_ons_code'].value_counts()

E54000057    59180
E54000008    53744
E54000050    53707
E54000048    43381
E54000054    42888
E54000051    41402
E54000010    34808
E54000026    33309
E54000061    27812
E54000044    27539
E54000015    27409
E54000053    25835
E54000025    25242
E54000023    20632
E54000042    17419
E54000060    14473
E54000027    13007
E54000032    12637
E54000037    12526
E54000029    11837
E54000055    11789
E54000062    11776
E54000022    11579
E54000040    11545
E54000031    10612
E54000030    10527
E54000041    10516
E54000058    10473
E54000056    10086
E54000052     9994
E54000018     9895
E54000043     9864
E54000028     9860
E54000039     9673
E54000024     9490
E54000019     9348
E54000036     9238
E54000059     9148
E54000034     8844
E54000038     8219
E54000013     8070
E54000011     8061
Name: icb_ons_code, dtype: int64

In [57]:
# The five locations with the highest number of records
import pandas as pd

ad = pd.read_csv('actual_duration.csv')

column_name = 'count_of_appointments'  
max_values = ad.nlargest(5, column_name)

print("Count of locations:")
print(max_values)

Count of locations:
       sub_icb_location_code sub_icb_location_ons_code  \
125518                 A3A8R                 E38000255
125812                 A3A8R                 E38000255
125861                 A3A8R                 E38000255
126400                 A3A8R                 E38000255
125616                 A3A8R                 E38000255

                    sub_icb_location_name icb_ons_code region_ons_code  \
125518  NHS North East London ICB - A3A8R    E54000029       E40000003
125812  NHS North East London ICB - A3A8R    E54000029       E40000003
125861  NHS North East London ICB - A3A8R    E54000029       E40000003
126400  NHS North East London ICB - A3A8R    E54000029       E40000003
125616  NHS North East London ICB - A3A8R    E54000029       E40000003

       appointment_date         actual_duration  count_of_appointments
125518        17-Jan-22  Unknown / Data Quality                  15400
125812        28-Feb-22  Unknown / Data Quality                  15081
125861        07-Mar-22  Unknown / Data Quality                  14767
126400        23-May-22  Unknown / Data Quality                  14665
125616        31-Jan-22  Unknown / Data Quality                  14664

In [58]:
# The five locations with the highest number of records
import pandas as pd

ar = pd.read_csv('appointments_regional.csv')

column_name = 'count_of_appointments'  
max_values = ar.nlargest(5, column_name)

print("Count of locations:")
print(max_values)

Count of locations:
       icb_ons_code appointment_month appointment_status hcp_type  \
144544    E54000027           2020-01           Attended       GP
409005    E54000029           2020-01           Attended       GP
145905    E54000027           2020-06           Attended       GP
410298    E54000029           2020-06           Attended       GP
144828    E54000027           2020-02           Attended       GP

       appointment_mode time_between_book_and_appointment  \
144544     Face-to-Face                          Same Day
409005     Face-to-Face                          Same Day
145905        Telephone                          Same Day
410298        Telephone                          Same Day
144828     Face-to-Face                          Same Day

        count_of_appointments
144544                 211265
409005                 203378
145905                 191019
410298                 186344
144828                 185930

In [59]:
# The five locations with the highest number of records
import pandas as pd

nc = pd.read_excel('national_categories.xlsx')

column_name = 'count_of_appointments'  
max_values = nc.nlargest(5, column_name)

print("Count of locations:")
print(max_values)

Count of locations:
       appointment_date icb_ons_code              sub_icb_location_name  \
732144       2022-05-09    E54000029  NHS North East London ICB - A3A8R
732705       2022-05-23    E54000029  NHS North East London ICB - A3A8R
724735       2021-10-11    E54000029  NHS North East London ICB - A3A8R
724978       2021-10-18    E54000029  NHS North East London ICB - A3A8R
732446       2022-05-16    E54000029  NHS North East London ICB - A3A8R

         service_setting            context_type  \
732144  General Practice  Care Related Encounter
732705  General Practice  Care Related Encounter
724735  General Practice  Care Related Encounter
724978  General Practice  Care Related Encounter
732446  General Practice  Care Related Encounter

                   national_category  count_of_appointments appointment_month
732144  General Consultation Routine                  16590           2022-05
732705  General Consultation Routine                  16527           2022-05
724735  General Consultation Routine                  16495           2021-10
724978  General Consultation Routine                  16492           2021-10
732446  General Consultation Routine                  16412           2022-05

In [62]:
# The number of service settings in national category
import pandas as pd

# Load the dataset into a DataFrame
nc = pd.read_excel('national_categories.xlsx')

# The number of locations in a dataset
nc['service_setting'].value_counts()

General Practice             359274
Primary Care Network         183790
Other                        138789
Extended Access Provision    108122
Unmapped                      27419
Name: service_setting, dtype: int64

In [63]:
# The number of context type in national category
import pandas as pd

# Load the dataset into a DataFrame
nc = pd.read_excel('national_categories.xlsx')

# The number of locations in a dataset
nc['context_type'].value_counts()

Care Related Encounter    700481
Inconsistent Mapping       89494
Unmapped                   27419
Name: context_type, dtype: int64

In [64]:
# The number of national category in national category
import pandas as pd

# Load the dataset into a DataFrame
nc = pd.read_excel('national_categories.xlsx')

# The number of locations in a dataset
nc['national_category'].value_counts()

Inconsistent Mapping                                                   89494
General Consultation Routine                                           89329
General Consultation Acute                                             84874
Planned Clinics                                                        76429
Clinical Triage                                                        74539
Planned Clinical Procedure                                             59631
Structured Medication Review                                           44467
Service provided by organisation external to the practice              43095
Home Visit                                                             41850
Unplanned Clinical Activity                                            40415
Patient contact during Care Home Round                                 28795
Unmapped                                                               27419
Care Home Visit                                                        26644
Social Prescribing Service                                             26492
Care Home Needs Assessment & Personalised Care and Support Planning    23505
Non-contractual chargeable work                                        20896
Walk-in                                                                14179
Group Consultation and Group Education                                  5341
Name: national_category, dtype: int64

In [65]:
# The number of appointment statuses in national category
import pandas as pd

# Load the dataset into a DataFrame
nc = pd.read_excel('national_categories.xlsx')

# The number of locations in a dataset
nc['count_of_appointments'].value_counts()

1        53655
2        40085
3        31289
4        27644
5        23358
         ...
11575        1
12715        1
12875        1
12692        1
13932        1
Name: count_of_appointments, Length: 9957, dtype: int64